.bundle
log/*.log
tmp/**/*
tmp/*
*.swp
.DS_Store
public/assets
SRP
# Ignore application configuration
/config/application.yml
coverage
/public/packs
/node_modules
/public/packs
/public/packs-test
/node_modules
/public/uploads
/scentglobal
dump.rdb
./data
/data
data
dump.rdb
uploads/*
/uploads/*
data/SUP-21812_6.csv
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
./vendor/bundle
/vendor/bundle
*.dump
latest.dump*
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
yarn-error.log